<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="css/tab.css">
        <script type="text/javascript" src="js/tabjs.js"></script>
    </head>
    <body>


        <div class="tab">
            <button class="tablinks" onclick="mudatab(event, 'Home')">Página Inicial</button>
            <button class="tablinks" onclick="mudatab(event, 'EdCd')">Editar Cadastro</button>
            <button class="tablinks" onclick="mudatab(event, 'Submono')">Submeter Monografia</button>
        </div>

        <div id="Home" class="tabcontent">
            <IFRAME src="paginaiial.html"></IFRAME>
        </div>

        <div id="EdCd" class="tabcontent">
            <h3>Paris</h3>
            <p>Paris is the capital of France.</p> 
        </div>

        <div id="Submono" class="tabcontent">
            <h3>Tokyo</h3>
            <p>Tokyo is the capital of Japan.</p>
        </div>


    </body>
    
</html> 
